name: BiRD-build-documentation
 
on:
  pull_request:
     branches: [ main ]
     paths:
      - 'docs/**'
      - '.github/workflows/build_docs.yml'
 
jobs:
 
  build_docs:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
        working-directory: ${{github.workspace}}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          cache: 'pip'

      - name: Set up micromamba
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-name: test-env
          create-args: >-
            python=${{ matrix.python-version }}
          channels: conda-forge
          channel-priority: strict
          cache-downloads: true
          cache-env: true

      - name: Install dependencies
        run: |
          micromamba install --yes -n test-env -c conda-forge paraview
          python -m pip install --upgrade pip
          pip install -e . 
          pip install sphinx sphinx_rtd_theme sphinx-autodoc-typehints

      - name: Build documentation
        run: |
          cd docs
          make html


