name: bird-CI

on:
   push:
     branches: [main]
     paths-ignore:
      - '*.md'
      - '*.rst'
      - 'README*'
      - 'LICENSE'
      - 'docs/**'

   pull_request:
     branches: [main]
     paths-ignore:
      - '*.md'
      - '*.rst'
      - 'README*'
      - 'LICENSE'
      - 'docs/**'

jobs:
  Lint:
    name: Lint (${{ matrix.python-version }}, ${{ matrix.os }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.10']
        os: ['ubuntu-latest']
    defaults:
      run:
        shell: bash -l {0}
        working-directory: ${{github.workspace}}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{matrix.python-version}}
      - name: Install dependencies
        run: |
          pip install black
          pip install isort
          pip install codespell
      - name: Formatting and sorting import
        run: |
          source .github/linters/formatting.sh
          format . true

  Test-BiRD:
    name: Test-BiRD (${{ matrix.python-version }}, ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.10', '3.13']
        os: ['ubuntu-latest', 'macos-latest']
    defaults:
      run:
        shell: bash -l {0}
        working-directory: ${{github.workspace}}

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{matrix.python-version}}

      - name: Set up Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: test-env
          python-version: ${{matrix.python-version}}
          channels: conda-forge
          channel-priority: strict

      - name: Configure conda retries
        run: |
          conda config --set remote_read_timeout_secs 60
          conda config --set remote_connect_timeout_secs 30
          conda config --set remote_max_retries 10
          conda config --set retry_wait_seconds 10

      - name: Install dependencies
        run: |
          conda install -y -c conda-forge paraview
          pip install --upgrade pip
          pip install .
          pip install pytest

      - name: Test
        run: pytest .

  Test-pypi-Bird:
    name: Test-pypi-BiRD (${{ matrix.python-version }}, ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.10']
        os: ['ubuntu-latest']
    defaults:
      run:
        shell: bash -l {0}
        working-directory: ${{github.workspace}}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{matrix.python-version}}

      - name: Set up Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: test-env
          python-version: ${{matrix.python-version}}
          channels: conda-forge
          channel-priority: strict

      - name: Configure conda retries
        run: |
          conda config --set remote_read_timeout_secs 60
          conda config --set remote_connect_timeout_secs 30
          conda config --set remote_max_retries 10
          conda config --set retry_wait_seconds 10

      - name: Install dependencies
        run: |
          conda install -y -c conda-forge paraview
          pip install --upgrade pip
          pip install nrel-bird
          pip install pytest

      - name: Test
        run: pytest .

  Test-OF:
    name: Test-OF (${{ matrix.python-version }}, ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.10']
        os: ['ubuntu-22.04']
    defaults:
      run:
        shell: bash -l {0}
        working-directory: ${{github.workspace}}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{matrix.python-version}}
      - uses: gerlero/setup-openfoam@v1
        with:
          openfoam-version: 9

      - name: Set up Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: test-env
          python-version: ${{matrix.python-version}}
          channels: conda-forge
          channel-priority: strict

      - name: Configure conda retries
        run: |
          conda config --set remote_read_timeout_secs 60
          conda config --set remote_connect_timeout_secs 30
          conda config --set remote_max_retries 10
          conda config --set retry_wait_seconds 10

      - name: Install dependencies
        run: |
          conda install -y -c conda-forge paraview
          pip install --upgrade pip
          pip install .

      - name: Compile solver
        run: |
          cd OFsolvers/birdmultiphaseEulerFoam
          export WM_COMPILE_OPTION=Debug
          ./Allwmake
          cd ../../
      - name: Run deckwer17 PBE
        run: |
          cd experimental_cases/deckwer17
          bash run.sh 
          cd ../../
      - name: Run deckwer17 constantD
        run: |
          cd experimental_cases/deckwer17
          cp constant/phaseProperties_constantd constant/phaseProperties
          bash run.sh 
          cd ../../
      - name: Run deckwer19 PBE
        run: |
          cd experimental_cases/deckwer19
          bash run.sh 
          cd ../../
      - name: Run side sparger tutorial
        run: |
          cd tutorial_cases/side_sparger
          bash run.sh 
          cd ../../
      - name: Run bubble column tutorial
        run: |
          cd tutorial_cases/bubble_column_20L
          bash run.sh 
          cd ../../
      - name: Run stirred-tank tutorial
        run: |
          cd tutorial_cases/stirred_tank
          bash run.sh 
          cd ../../
      - name: Run reactive loop reactor tutorial
        run: |
          cd tutorial_cases/loop_reactor_reacting
          bash run.sh 
          cd ../../
      - name: Run mixing loop reactor tutorial
        run: |
          cd tutorial_cases/loop_reactor_mixing
          bash run.sh 
          cd ../../
      - name: Run airlift reactor tutorial
        run: |
          cd tutorial_cases/airlift_40m
          bash run.sh
          cd ../../
      - name: Run flat panel reactor tutorial
        run: |
          cd tutorial_cases/FlatPanel_250L_ASU
          bash run.sh
          cd ../../

