name: CodeCov

on:
  push:
     branches: [ main ]
     paths-ignore:
      - '*.md'
      - '*.rst'
      - 'README*'
      - 'LICENSE'
      - 'docs/**'

jobs:
  codecov:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
        working-directory: ${{github.workspace}}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'
          cache: 'pip'

      - name: Set up micromamba
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-name: test-env
          create-args: >-
            python=${{ matrix.python-version }}
          channels: conda-forge
          channel-priority: strict
          cache-downloads: true
          cache-env: true

      - name: Install dependencies
        run: |
          micromamba install --yes -n test-env -c conda-forge paraview
          pip install --upgrade pip
          pip install pytest
          pip install pytest-cov
          pip install -e .

      - name: Generate coverage report
        run: |
          pytest --cov=./ --cov-report=xml:coverage.xml          
      - name: Upload coverage to Codecov
        
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.xml
          flags: unittests
          env_vars: OS,PYTHON
          name: codecov-umbrella
          fail_ci_if_error: false
          verbose: true
